In [2]:
import sys
!{sys.executable} -m pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
Requirement already satisfied: defusedxml in c:\users\jpabl\anaconda3\lib\site-packages (from odfpy) (0.6.0)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py): started
  Building wheel for odfpy (setup.py): finished with status 'done'
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=137344 sha256=27d9de28aa4854e5e53ed85cf08ed98b68348c3482495651b579514c3eaa5aec
  Stored in directory: c:\users\jpabl\appdata\local\pip\cache\wheels\ea\af\da\2bdd7308f7b334429a558df1e36d31864cd19c07ede92ddf0e
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1

In [23]:
import pandas as pd
import numpy as np
from re import sub
from decimal import Decimal

In [9]:
bookings = pd.read_excel("data/HWY40/Fareharbor/Bookings--2020-10-01--2021-03-13.ods", engine="odf", header=1)
bookings.head()

,Booking ID,Cancelled?,Created At,Created At Time,Created At Date,Created By,Last Booked At,Last Booked At Date,Last Booked At Time,Last Booked By,...,Availability ID,Availability Day,Headline,Private Headline,Contact Language,Subscribed to text messages?,Subscribed to Email?,# of Pax,Online Booking Reference,Pickup Time
376,#69081790,No,2021-01-21 @ 05:01pm,05:01pm,2021-01-21,Online,2021-01-21 @ 05:01pm,2021-01-21,05:01pm,Online,...,#531973997,Tuesday,Please select your first day of skiing! Book now!,NaN,English (US),Subscribed,No,2,NaN,NaN
377,#70232964,No,2021-02-10 @ 10:46pm,10:46pm,2021-02-10,Online,2021-02-10 @ 10:46pm,2021-02-10,10:46pm,Online,...,#531974000,Wednesday,Please select your first day of skiing! Book now!,NaN,English (US),Subscribed,No,6,NaN,NaN
378,#70232974,No,2021-02-10 @ 10:46pm,10:46pm,2021-02-10,Online,2021-02-10 @ 10:46pm,2021-02-10,10:46pm,Online,...,#531984141,Wednesday,Please select your first day of skiing! Book now!,NaN,English (US),Subscribed,No,3,NaN,NaN
379,#70232978,No,2021-02-10 @ 10:46pm,10:46pm,2021-02-10,Online,2021-02-10 @ 10:46pm,2021-02-10,10:46pm,Online,...,#532010135,Wednesday,Please select your first day of skiing! Book now!,NaN,English (US),Subscribed,No,3,NaN,NaN
380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,607,NaN,NaN

# Questions for bookings
- 2 columns completely missing?

In [52]:
campaigns = pd.read_excel("data/HWY40/Fareharbor/hwy40skidelivery-campaigns-summary-from-2020-10-11-to-2021-03-13-CLEAN.ods", engine="odf", sheet_name="Campaign_dates")
campaigns.head()

                campaign                 Start                 End
0  Save 50% off purchase  12/26/2020 @ 12:00am  1/1/2021 @ 12:00am
1         Skicoupons.com     1/21/21 @ 11:11am                 NaN

In [53]:
campaign_totals = pd.read_excel("data/HWY40/Fareharbor/hwy40skidelivery-campaigns-summary-from-2020-10-11-to-2021-03-13-CLEAN.ods", engine="odf", sheet_name="Totals")
campaign_totals.head()

,Item,#,Subtotal,Tax,Total,% of Report Sum Booking Totals,Revenue Collected,Receivable from Affiliate,Payable to Affiliate,Net Revenue
0,Elite Ski Package,22,"$8,034.17",$456.05,"$8,490.22",15.7%,"$8,285.22",$0.00,$0.00,"$8,121.91"
1,Summit Ski Package,37,"$9,282.34",$517.45,"$9,799.79",18.13%,"$9,759.79",$0.00,$0.00,"$9,564.46"
2,Mountain Ski Package,100,"$20,099.29","$1,133.72","$21,233.01",39.27%,"$21,189.01",$0.00,$0.00,"$20,755.56"
3,Base Ski Package,36,"$5,988.14",$338.53,"$6,326.67",11.7%,"$6,307.67",$0.00,$0.00,"$6,177.18"
4,Junior Mountain Ski Package,14,"$2,528.45",$141.14,"$2,669.59",4.94%,"$2,669.59",$0.00,$0.00,"$2,616.14"

In [54]:
discount = pd.read_excel("data/HWY40/Fareharbor/hwy40skidelivery-campaigns-summary-from-2020-10-11-to-2021-03-13-CLEAN.ods", engine="odf", sheet_name="50%")

for i in range(len(discount)):
    discount['Subtotal'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Subtotal'].iloc[i]))
    discount['Tax'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Tax'].iloc[i]))
    discount['Total'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Total'].iloc[i]))
    discount['Revenue Collected'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Revenue Collected'].iloc[i]))
    discount['Receivable from Affiliate'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Receivable from Affiliate'].iloc[i]))
    discount['Payable to Affiliate'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Payable to Affiliate'].iloc[i]))
    discount['Net Revenue'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Net Revenue'].iloc[i]))
    discount['% of Report Sum Booking Totals'].iloc[i] = float(sub('%', '', discount['% of Report Sum Booking Totals'].iloc[i]))

discount.head()

C:\Users\jpabl\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,Item,#,Subtotal,Tax,Total,% of Report Sum Booking Totals,Revenue Collected,Receivable from Affiliate,Payable to Affiliate,Net Revenue
0,Elite Ski Package,21,7808.17,442.26,8250.43,15.26,8045.43,0.00,0.00,7886.98
1,Summit Ski Package,37,9282.34,517.45,9799.79,18.13,9759.79,0.00,0.00,9564.46
2,Mountain Ski Package,94,18891.74,1065.74,19957.48,36.92,19913.48,0.00,0.00,19506.07
3,Base Ski Package,36,5988.14,338.53,6326.67,11.7,6307.67,0.00,0.00,6177.18
4,Junior Mountain Ski Package,14,2528.45,141.14,2669.59,4.94,2669.59,0.00,0.00,2616.14

In [55]:
cupon = pd.read_excel("data/HWY40/Fareharbor/hwy40skidelivery-campaigns-summary-from-2020-10-11-to-2021-03-13-CLEAN.ods", engine="odf", sheet_name="Cupons")

for i in range(len(cupon)):
    cupon['Subtotal'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Subtotal'].iloc[i]))
    cupon['Tax'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Tax'].iloc[i]))
    cupon['Total'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Total'].iloc[i]))
    cupon['Revenue Collected'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Revenue Collected'].iloc[i]))
    cupon['Receivable from Affiliate'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Receivable from Affiliate'].iloc[i]))
    cupon['Payable to Affiliate'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Payable to Affiliate'].iloc[i]))
    cupon['Net Revenue'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Net Revenue'].iloc[i]))
    cupon['% of Report Sum Booking Totals'].iloc[i] = float(sub('%', '', cupon['% of Report Sum Booking Totals'].iloc[i]))

cupon.head()

C:\Users\jpabl\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,Item,#,Subtotal,Tax,Total,% of Report Sum Booking Totals,Revenue Collected,Receivable from Affiliate,Payable to Affiliate,Net Revenue
0,Elite Ski Package,1,226.00,13.79,239.79,0.44,239.79,0.00,0.00,234.93
1,Mountain Ski Package,6,1207.55,67.98,1275.53,2.36,1275.53,0.00,0.00,1249.49

In [56]:
#Totals
campaigns['End Subtotal'] = [discount['Subtotal'].sum(), cupon['Subtotal'].sum()]
campaigns['End Tax'] = [discount['Tax'].sum(), cupon['Tax'].sum()]
campaigns['End Total'] = [discount['Total'].sum(), cupon['Total'].sum()]
campaigns['End % of Report Sum Booking Totals'] = [discount['% of Report Sum Booking Totals'].sum(), cupon['% of Report Sum Booking Totals'].sum()]
campaigns['End Revenue Collected'] = [discount['Revenue Collected'].sum(), cupon['Revenue Collected'].sum()]
campaigns['End Receivable from Affiliate'] = [discount['Receivable from Affiliate'].sum(), cupon['Receivable from Affiliate'].sum()]
campaigns['End Payable to Affiliate'] = [discount['Payable to Affiliate'].sum(), cupon['Payable to Affiliate'].sum()]
campaigns['End Net Revenue'] = [discount['Net Revenue'].sum(), cupon['Net Revenue'].sum()]

#Means
campaigns['Mean Subtotal'] = [discount['Subtotal'].mean(), cupon['Subtotal'].mean()]
campaigns['Mean Tax'] = [discount['Tax'].mean(), cupon['Tax'].mean()]
campaigns['Mean Total'] = [discount['Total'].mean(), cupon['Total'].mean()]
campaigns['Mean % of Report Sum Booking Totals'] = [discount['% of Report Sum Booking Totals'].mean(), cupon['% of Report Sum Booking Totals'].mean()]
campaigns['Mean Revenue Collected'] = [discount['Revenue Collected'].mean(), cupon['Revenue Collected'].mean()]
campaigns['Mean Receivable from Affiliate'] = [discount['Receivable from Affiliate'].mean(), cupon['Receivable from Affiliate'].mean()]
campaigns['Mean Payable to Affiliate'] = [discount['Payable to Affiliate'].mean(), cupon['Payable to Affiliate'].mean()]
campaigns['Mean Net Revenue'] = [discount['Net Revenue'].mean(), cupon['Net Revenue'].mean()]


campaigns.head()

,campaign,Start,End,End Subtotal,End Tax,End Total,End % of Report Sum Booking Totals,End Revenue Collected,End Receivable from Affiliate,End Payable to Affiliate,End Net Revenue,Mean Subtotal,Mean Tax,Mean Total,Mean % of Report Sum Booking Totals,Mean Revenue Collected,Mean Receivable from Affiliate,Mean Payable to Affiliate,Mean Net Revenue
0,Save 50% off purchase,12/26/2020 @ 12:00am,1/1/2021 @ 12:00am,49748.63,2798.96,52547.59,97.2,52189.59,0.00,0.00,51134.17,5527.625556,310.995556,5838.621111,10.8,5798.843333,0.0,0.0,5681.574444
1,Skicoupons.com,1/21/21 @ 11:11am,NaN,1433.55,81.77,1515.32,2.8,1515.32,0.00,0.00,1484.42,716.775000,40.885000,757.660000,1.4,757.660000,0.0,0.0,742.210000