In [2]:
import sys
!{sys.executable} -m pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
Requirement already satisfied: defusedxml in c:\users\jpabl\anaconda3\lib\site-packages (from odfpy) (0.6.0)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py): started
  Building wheel for odfpy (setup.py): finished with status 'done'
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=137344 sha256=27d9de28aa4854e5e53ed85cf08ed98b68348c3482495651b579514c3eaa5aec
  Stored in directory: c:\users\jpabl\appdata\local\pip\cache\wheels\ea\af\da\2bdd7308f7b334429a558df1e36d31864cd19c07ede92ddf0e
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1

In [2]:
import pandas as pd
import numpy as np
from re import sub
from decimal import Decimal

In [4]:
bookings = pd.read_excel("data/HWY40/Fareharbor/Bookings--2020-10-01--2021-03-13.ods", engine="odf", header=1)
bookings.head()

,Booking ID,Cancelled?,Created At,Created At Time,Created At Date,Created By,Last Booked At,Last Booked At Date,Last Booked At Time,Last Booked By,...,Availability ID,Availability Day,Headline,Private Headline,Contact Language,Subscribed to text messages?,Subscribed to Email?,# of Pax,Online Booking Reference,Pickup Time
0,#67251622,No,2020-12-17 @ 08:18pm,08:18pm,2020-12-17,Online,2020-12-18 @ 08:42am,2020-12-18,08:42am,Jami Turman,...,#531950708,Friday,Please select your first day of skiing! Book now!,NaN,English (US),No,No,2,NaN,NaN
1,#67152670,No,2020-12-16 @ 08:50am,08:50am,2020-12-16,Online,2020-12-16 @ 08:50am,2020-12-16,08:50am,Online,...,#531950708,Friday,Please select your first day of skiing! Book now!,NaN,English (US),Subscribed,No,2,NaN,NaN
2,#67251680,No,2020-12-17 @ 08:18pm,08:18pm,2020-12-17,Online,2020-12-18 @ 08:43am,2020-12-18,08:43am,Jami Turman,...,#532305509,Friday,Please select your first day of skiing! Book now!,NaN,English (US),No,No,2,NaN,NaN
3,#67152672,No,2020-12-16 @ 08:50am,08:50am,2020-12-16,Online,2020-12-16 @ 08:50am,2020-12-16,08:50am,Online,...,#532310577,Friday,Please select your first day of skiing! Book now!,NaN,English (US),Subscribed,No,5,NaN,NaN
4,#67354515,No,2020-12-16 @ 08:50am,08:50am,2020-12-16,Online,2020-12-19 @ 05:45pm,2020-12-19,05:45pm,Jami Turman,...,#532305510,Saturday,Please select your first day of skiing! Book now!,NaN,English (US),Subscribed,No,3,NaN,NaN

# Questions for bookings
- 2 columns completely missing?

In [52]:
campaigns = pd.read_excel("data/HWY40/Fareharbor/hwy40skidelivery-campaigns-summary-from-2020-10-11-to-2021-03-13-CLEAN.ods", engine="odf", sheet_name="Campaign_dates")
campaigns.head()

                campaign                 Start                 End
0  Save 50% off purchase  12/26/2020 @ 12:00am  1/1/2021 @ 12:00am
1         Skicoupons.com     1/21/21 @ 11:11am                 NaN

In [53]:
campaign_totals = pd.read_excel("data/HWY40/Fareharbor/hwy40skidelivery-campaigns-summary-from-2020-10-11-to-2021-03-13-CLEAN.ods", engine="odf", sheet_name="Totals")
campaign_totals.head()

,Item,#,Subtotal,Tax,Total,% of Report Sum Booking Totals,Revenue Collected,Receivable from Affiliate,Payable to Affiliate,Net Revenue
0,Elite Ski Package,22,"$8,034.17",$456.05,"$8,490.22",15.7%,"$8,285.22",$0.00,$0.00,"$8,121.91"
1,Summit Ski Package,37,"$9,282.34",$517.45,"$9,799.79",18.13%,"$9,759.79",$0.00,$0.00,"$9,564.46"
2,Mountain Ski Package,100,"$20,099.29","$1,133.72","$21,233.01",39.27%,"$21,189.01",$0.00,$0.00,"$20,755.56"
3,Base Ski Package,36,"$5,988.14",$338.53,"$6,326.67",11.7%,"$6,307.67",$0.00,$0.00,"$6,177.18"
4,Junior Mountain Ski Package,14,"$2,528.45",$141.14,"$2,669.59",4.94%,"$2,669.59",$0.00,$0.00,"$2,616.14"

In [54]:
discount = pd.read_excel("data/HWY40/Fareharbor/hwy40skidelivery-campaigns-summary-from-2020-10-11-to-2021-03-13-CLEAN.ods", engine="odf", sheet_name="50%")

for i in range(len(discount)):
    discount['Subtotal'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Subtotal'].iloc[i]))
    discount['Tax'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Tax'].iloc[i]))
    discount['Total'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Total'].iloc[i]))
    discount['Revenue Collected'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Revenue Collected'].iloc[i]))
    discount['Receivable from Affiliate'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Receivable from Affiliate'].iloc[i]))
    discount['Payable to Affiliate'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Payable to Affiliate'].iloc[i]))
    discount['Net Revenue'].iloc[i] = Decimal(sub(r'[^\d.]', '', discount['Net Revenue'].iloc[i]))
    discount['% of Report Sum Booking Totals'].iloc[i] = float(sub('%', '', discount['% of Report Sum Booking Totals'].iloc[i]))

discount.head()

C:\Users\jpabl\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,Item,#,Subtotal,Tax,Total,% of Report Sum Booking Totals,Revenue Collected,Receivable from Affiliate,Payable to Affiliate,Net Revenue
0,Elite Ski Package,21,7808.17,442.26,8250.43,15.26,8045.43,0.00,0.00,7886.98
1,Summit Ski Package,37,9282.34,517.45,9799.79,18.13,9759.79,0.00,0.00,9564.46
2,Mountain Ski Package,94,18891.74,1065.74,19957.48,36.92,19913.48,0.00,0.00,19506.07
3,Base Ski Package,36,5988.14,338.53,6326.67,11.7,6307.67,0.00,0.00,6177.18
4,Junior Mountain Ski Package,14,2528.45,141.14,2669.59,4.94,2669.59,0.00,0.00,2616.14

In [55]:
cupon = pd.read_excel("data/HWY40/Fareharbor/hwy40skidelivery-campaigns-summary-from-2020-10-11-to-2021-03-13-CLEAN.ods", engine="odf", sheet_name="Cupons")

for i in range(len(cupon)):
    cupon['Subtotal'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Subtotal'].iloc[i]))
    cupon['Tax'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Tax'].iloc[i]))
    cupon['Total'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Total'].iloc[i]))
    cupon['Revenue Collected'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Revenue Collected'].iloc[i]))
    cupon['Receivable from Affiliate'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Receivable from Affiliate'].iloc[i]))
    cupon['Payable to Affiliate'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Payable to Affiliate'].iloc[i]))
    cupon['Net Revenue'].iloc[i] = Decimal(sub(r'[^\d.]', '', cupon['Net Revenue'].iloc[i]))
    cupon['% of Report Sum Booking Totals'].iloc[i] = float(sub('%', '', cupon['% of Report Sum Booking Totals'].iloc[i]))

cupon.head()

C:\Users\jpabl\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,Item,#,Subtotal,Tax,Total,% of Report Sum Booking Totals,Revenue Collected,Receivable from Affiliate,Payable to Affiliate,Net Revenue
0,Elite Ski Package,1,226.00,13.79,239.79,0.44,239.79,0.00,0.00,234.93
1,Mountain Ski Package,6,1207.55,67.98,1275.53,2.36,1275.53,0.00,0.00,1249.49

In [56]:
#Totals
campaigns['End Subtotal'] = [discount['Subtotal'].sum(), cupon['Subtotal'].sum()]
campaigns['End Tax'] = [discount['Tax'].sum(), cupon['Tax'].sum()]
campaigns['End Total'] = [discount['Total'].sum(), cupon['Total'].sum()]
campaigns['End % of Report Sum Booking Totals'] = [discount['% of Report Sum Booking Totals'].sum(), cupon['% of Report Sum Booking Totals'].sum()]
campaigns['End Revenue Collected'] = [discount['Revenue Collected'].sum(), cupon['Revenue Collected'].sum()]
campaigns['End Receivable from Affiliate'] = [discount['Receivable from Affiliate'].sum(), cupon['Receivable from Affiliate'].sum()]
campaigns['End Payable to Affiliate'] = [discount['Payable to Affiliate'].sum(), cupon['Payable to Affiliate'].sum()]
campaigns['End Net Revenue'] = [discount['Net Revenue'].sum(), cupon['Net Revenue'].sum()]

#Means
campaigns['Mean Subtotal'] = [discount['Subtotal'].mean(), cupon['Subtotal'].mean()]
campaigns['Mean Tax'] = [discount['Tax'].mean(), cupon['Tax'].mean()]
campaigns['Mean Total'] = [discount['Total'].mean(), cupon['Total'].mean()]
campaigns['Mean % of Report Sum Booking Totals'] = [discount['% of Report Sum Booking Totals'].mean(), cupon['% of Report Sum Booking Totals'].mean()]
campaigns['Mean Revenue Collected'] = [discount['Revenue Collected'].mean(), cupon['Revenue Collected'].mean()]
campaigns['Mean Receivable from Affiliate'] = [discount['Receivable from Affiliate'].mean(), cupon['Receivable from Affiliate'].mean()]
campaigns['Mean Payable to Affiliate'] = [discount['Payable to Affiliate'].mean(), cupon['Payable to Affiliate'].mean()]
campaigns['Mean Net Revenue'] = [discount['Net Revenue'].mean(), cupon['Net Revenue'].mean()]


campaigns.head()

,campaign,Start,End,End Subtotal,End Tax,End Total,End % of Report Sum Booking Totals,End Revenue Collected,End Receivable from Affiliate,End Payable to Affiliate,End Net Revenue,Mean Subtotal,Mean Tax,Mean Total,Mean % of Report Sum Booking Totals,Mean Revenue Collected,Mean Receivable from Affiliate,Mean Payable to Affiliate,Mean Net Revenue
0,Save 50% off purchase,12/26/2020 @ 12:00am,1/1/2021 @ 12:00am,49748.63,2798.96,52547.59,97.2,52189.59,0.00,0.00,51134.17,5527.625556,310.995556,5838.621111,10.8,5798.843333,0.0,0.0,5681.574444
1,Skicoupons.com,1/21/21 @ 11:11am,NaN,1433.55,81.77,1515.32,2.8,1515.32,0.00,0.00,1484.42,716.775000,40.885000,757.660000,1.4,757.660000,0.0,0.0,742.210000

# Google analytics

In [3]:
# Read-in aquisition data
aquisition = pd.read_csv("data/HWY40/Google Analytics/aquisition.csv", header=6)
aquisition.head()

,Date,Hour of Day,Organic Searches,AdX Clicks,AdX Coverage,AdX CTR,AdX eCPM,AdX Impressions,AdX Impressions / Session,AdX Monetized Pageviews,AdX Revenue,AdX Revenue / 1000 Sessions,AdX Viewable Impressions %
0,20210103,2021010323,6,0,0.00%,0.00%,$0.00,0,0,0,$0.00,$0.00,0.00%
1,20210317,2021031720,6,0,0.00%,0.00%,$0.00,0,0,0,$0.00,$0.00,0.00%
2,20210114,2021011413,4,0,0.00%,0.00%,$0.00,0,0,0,$0.00,$0.00,0.00%
3,20210125,2021012510,4,0,0.00%,0.00%,$0.00,0,0,0,$0.00,$0.00,0.00%
4,20210310,2021031018,4,0,0.00%,0.00%,$0.00,0,0,0,$0.00,$0.00,0.00%

In [4]:
# Read in behavior data
behavior_1 = pd.read_csv("data/HWY40/Google Analytics/behavior_1.csv", header=6)
behavior_2 = pd.read_csv("data/HWY40/Google Analytics/behavior_2.csv", header=6)
behavior_3 = pd.read_csv("data/HWY40/Google Analytics/behavior_3.csv", header=6)
behaviors = [behavior_1, behavior_2, behavior_3]
behavior = pd.concat(behaviors, ignore_index=True)
behavior.head()

,Date,Hour of Day,Screen Name,% Sessions with Search,Avg. % Conversion Probability,Avg. Search Depth,Avg. Value,Entrances,Entrances / Pageviews,Event Value,...,Search Exits,Search Refinements,Sessions with Event,Sessions with Search,Time after Search,Time on Page,Time on Screen,Total Events,Unique Dimension Combinations,Unique Events
0,20201214,2020121419,hwy40skidelivery.com/,0.00%,0,0,0,1,100.00%,0,...,0,0,0,0,00:00:00,00:00:04,00:00:00,0,1,0
1,20201214,2020121419,hwy40skidelivery.com/packages/,0.00%,0,0,0,0,0.00%,0,...,0,0,1,0,00:00:00,00:00:05,00:00:00,1,1,1
2,20201215,2020121506,hwy40skidelivery.com/,0.00%,0,0,0,2,100.00%,0,...,0,0,0,0,00:00:00,00:00:13,00:00:00,0,2,0
3,20201215,2020121506,hwy40skidelivery.com/faq/,0.00%,0,0,0,0,0.00%,0,...,0,0,0,0,00:00:00,00:00:00,00:00:00,0,1,0
4,20201215,2020121506,hwy40skidelivery.com/packages/,0.00%,0,0,0,0,0.00%,0,...,0,0,1,0,00:00:00,00:00:58,00:00:00,2,1,1

In [6]:
# Read in city data
city1 = pd.read_csv("data/HWY40/Google Analytics/city_1.csv", header=6)
city2 = pd.read_csv("data/HWY40/Google Analytics/city_2.csv", header=6)
cities = [city1, city2]
city = pd.concat(cities, ignore_index=True)
city.head()

,City,Date,Metro,Region,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Transactions
0,Turner,20210101,Portland-Auburn ME,Maine,33,33,33,0.00%,2.94,00:00:08,0
1,Turner,20201231,Portland-Auburn ME,Maine,31,31,31,0.00%,3.00,00:00:08,0
2,Rochester,20201231,Rochester NY,New York,19,19,19,5.26%,2.84,00:00:08,0
3,Turner,20210102,Portland-Auburn ME,Maine,15,15,15,0.00%,2.93,00:00:08,0
4,Clermont,20210101,Orlando-Daytona Beach-Melbourne FL,Florida,14,14,14,0.00%,3.00,00:00:09,0

In [7]:
#  Read in device data
device = pd.read_csv("data/HWY40/Google Analytics/device.csv", header=6)
device.head()

,Browser,Device Category,Date,Sessions,Avg. Session Duration,Bounce Rate,Users,Pages / Session,Transactions
0,Chrome,desktop,20210125,95,00:00:48,42.11%,73,2.57,0
1,Chrome,desktop,20210203,90,00:01:33,50.00%,71,2.70,4
2,Chrome,desktop,20210101,80,00:00:09,28.75%,75,2.46,0
3,Chrome,desktop,20210202,79,00:01:29,51.90%,65,2.48,2
4,Chrome,desktop,20210205,78,00:01:31,53.85%,66,2.44,3

In [8]:
# Read in ecommerce data
ecommerce = pd.read_csv("data/HWY40/Google Analytics/ecommerce.csv", header=6)
ecommerce.head()

,Date,Hour of Day,Avg. QTY,Buy-to-Detail Rate,Cart-to-Detail Rate,Ecommerce Conversion Rate,Product Adds To Cart,Product Checkouts,Product Detail Views,Product List Clicks,...,Product Refunds,Product Removes From Cart,Quantity,Quantity Added To Cart,Quantity Checked Out,Quantity Refunded,Quantity Removed From Cart,Transactions,Transactions per User,Unique Purchases
0,20210118,2021011820,4.0,0.00%,0.00%,50.00%,0,0,0,0,...,0,0,4,0,0,0,0,1,0.33,1
1,20210310,2021031007,4.0,0.00%,0.00%,16.67%,0,0,0,0,...,0,0,4,0,0,0,0,1,0.14,1
2,20210308,2021030809,3.0,0.00%,0.00%,7.69%,0,0,0,0,...,0,0,3,0,0,0,0,1,0.08,1
3,20210226,2021022617,5.0,0.00%,0.00%,100.00%,0,0,0,0,...,0,0,5,0,0,0,0,1,1.00,1
4,20201230,2020123006,5.0,0.00%,0.00%,33.33%,0,0,0,0,...,0,0,5,0,0,0,0,1,0.33,1

In [9]:
# Read in users data
users = pd.read_csv("data/HWY40/Google Analytics/users.csv", header=6)
users.head()

,Date,Hour,Avg. Session Duration,Avg. Time on Page,Avg. Time on Screen,Bounce Rate,Bounces,Exits,Hits,New Users,...,Pageviews,Results Pageviews / Search,Screen Views,Screens / Session,Session Duration,Sessions,Total Unique Searches,Unique Pageviews,Unique Screen Views,Users
0,20201216,11,00:43:11,00:03:18,00:00:00,0.00%,0,2,34,1,...,24,0,0,0,02:09:34,3,0,13,0,3
1,20201217,13,00:26:25,00:00:00,00:00:00,0.00%,0,0,1,0,...,0,0,0,0,00:26:25,1,0,0,0,1
2,20210311,20,00:24:44,00:12:12,00:00:00,0.00%,0,0,2,1,...,2,0,0,0,00:24:44,1,0,2,0,1
3,20201217,15,00:23:47,00:13:37,00:00:00,0.00%,0,1,5,0,...,3,0,0,0,00:47:33,2,0,2,0,2
4,20201217,17,00:22:42,00:02:54,00:00:00,0.00%,0,3,20,2,...,16,0,0,0,01:30:49,4,0,11,0,3